/* Common classes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

img{
    height: 80px;
    border-radius: 50%;
}

/* Utilities */
.d_flex{
    display: flex;
}

i:hover{
    opacity: 50%;
    cursor: pointer;
}


#app{
    width:100%;
}
.screen_wrapper{
    width: 90%;
    height: 90%;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
}

.background{
    background-color:#DBDBD2;
    box-shadow: 0px -125px #009688;
    margin-top: 125px;
    height: calc(100vh - 125px);
    position: relative;
}

/***** 
User section 
******/
.users{
    width: 30%;
    height: 100%;
    background-color: #EAEAEA;
}

.my_user{
    height: 105px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #EAEAEA;
}

.my_user .user_image{
    align-items: center;
}
.my_user .user_icons{
    justify-content: space-between;
    width:25%;
    color: grey;
    font-size: 18px;
    opacity: 75%;
}

/* Notifications */
.users .notification{
    background-color: #8EDAFC;
    height: 120px;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.notification i{
    font-size: 25px;
    background-color: white;
    color: #8EDAFC;
    border-radius: 50%;
    padding: 18px
}
.notification .notification_link{
    line-height:20px;
}
.notification_link a{
    color: grey;
}

.search_bar{
    padding: 5px;
    position: relative;
}

/* Search bar */
.search_bar input{
    height: 40px;
    width:100%;
    border: none;
    text-align: center;
    padding:5px;
}
.search_bar i{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    font-size: 1rem;
    color: grey;
    opacity: 75%;
}

/* Contact list  */
.contact_list{
    overflow: auto;
    height: calc(100% - 275px)
}

.contact{
    background-color:white;
    padding:10px 20px;
    border-bottom: 1px solid #EAEAEA;
    align-items: center;
}
.contact:hover{
    background-color: lightgray;
    cursor: pointer;
}
.contact img{
    margin-right: 15px;
}

/*****
Chat section
******/
.chat{
    width:70%;
    height: 100%;
    position: relative;
}
.chat_background{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 105px);
    width: 100%;
}
.chat_user{
    height: 105px;
    align-items: center;
    background-color:#EAEAEA;
    border-left: 1px solid rgb(188, 187, 187);
    padding: 15px;
    line-height: 24px;
    justify-content: space-between;
}
.avatar_and_access{
    align-items: center;
}
.chat_user .last_access{
    margin-left: 15px;
}
.chat_user .access_time{
    color:grey;
}
.chat_icons i{
    margin: 0 10px;
    color: grey;
    font-size: 18px;
}

.chat_input{
    height:80px;
    background-color:#F3EEEA;
    align-items: center;
    justify-content:space-evenly;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.chat_input i{
    font-size:18px;
    color: gray;
}
.chat_input input{
    width: 80%;
    border: none;
    height: 60px;
    padding:10px;
    border-radius: 4px;
}