<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome CDN -->
    <script src="https://kit.fontawesome.com/1d47f7a9f5.js" crossorigin="anonymous"></script>
    <!-- Main CSS file -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Boolzapp</title>
</head>

<body>
    <!-- Main div connected to Vue -->
    <div id="app">
        <!-- Background with shadow applied -->
        <div class="background"></div>
        <div class="screen_wrapper d_flex">
            <section class="users">
                <nav class="my_user d_flex">
                    <div class="user_image d_flex">
                        <img :src="myAvatar" alt="">
                        <span>Nome Utente</span>
                    </div>
                    <div class="user_icons d_flex">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </nav>
                <div class="notification d_flex">
                    <i class="fas fa-bell-slash"></i>
                    <div class="notification_link">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="search_bar">
                    <input type="search" name="search" id="search" placeholder="Cerca o inizia una nuova chat">
                    <i class="fas fa-search"></i>
                </div>
                <div class="contact_list">
                    <div v-for="(user, index) in contacts" class="contact d_flex">
                        <img :src="user.avatar" alt="">
                        {{user.name}}
                    </div>
                </div>
            </section>
            <section class="chat">
                <div class="chat_user d_flex">
                    <!-- Default chat shown -->
                    <div class="avatar_and_access d_flex " v-for="contact in contacts" v-if='contact.visible === true'>
                        <img :src="contact.avatar" alt="">
                        <div class=" last_access">
                            <span>{{contact.name}}</span>
                            <p class="access_time">Ultimo accesso oggi alle</p>
                        </div>
                    </div>
                    <!-- Chat shown when clicking on a contact -->
                    <div class="chat_icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- Bottom part of chat -->
                <div class="chat_background d_flex" v-for="contact in contacts" v-if='contact.visible === true'>
                    <div class="message" :class='message.status' v-for='message in contact.messages'>
                        {{message.text}}
                    </div>
                    <div class="chat_input d_flex">
                        <i class="far fa-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </section>




        </div>
    </div>
    <!-- Vue JS-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Main JS file -->
    <script src="./assets/js/main.js"></script>
</body>

</html>